<h1><%= @song.id ? 'Edit song' : 'Create song' %></h1>
<hr />
<%= form_for [@artist, @song] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
 
  <%= f.submit %>
<% end %>

