<!DOCTYPE html>
<html>
  <head>
    <title>BillboardProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">
       <%= yield %>
    </div>
    <div class="header_loggedin">
      <div class="right">
         <%= link_to "Home", root_path %>
         <%= link_to "About", about_path %>
         <%#link_to "Hot 100 Songs 🎧", song_path %>
         <%= link_to "Hot 100 Artists🎤", artist_path %>
     </div>
   </div>
  </body>
</html>
